h1 {
    color: brown;
}
.border {
    border-style: dotted;
    border-width: 30px;
    border-radius: 10px;
}
#secure {
    height: 100%;
    width: 600px;
    opacity: 50%;
    text-align: center;
}